body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .welcome {
    font-size: 3rem;
  }
  
  @media (max-width: 768px) {
    .welcome {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 480px) {
    .welcome {
      font-size: 1.5rem;
    }
  }
  
  #name{
    background: linear-gradient(to right, rgb(236, 240, 5), rgba(252, 4, 4, 0.479));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .welcome{
    background: linear-gradient(
      270deg,
      #00f5ff,
      #ff00c8,
      #00f5ff,
      #00f5ff
    );
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aurora 6s ease infinite;
  }
  @keyframes aurora {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
   
  nav ul li{
    padding: 6px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li:hover {
    background-color: ghostwhite;
  }
  nav ul li:hover a {
    color: black !important;
    text-decoration: none;
  }
  .nav-link.active-link{
    color: yellow !important;
    font-weight: bold;
    border-bottom: 2px solid darkblue;
  }
  .icon-link {
    color:yellow;
    transition: color 0.3s;
  }
  .icon-link:hover{
    color: white ;
  }
  .text-para{
    text-align: justify;
  }
  